<div>
  <form (ngSubmit)="calculate()" novalidate>
    <div>
      Wheel diameter:
      <div>
        <input type="number"
               [(ngModel)]="bike.wheel.diameter"
               step="0.05"
               placeholder="00.00"
               [ngModelOptions]="{standalone: true}"
        />
      </div>
    </div>
    <div>
      Chainrings:
      <div *ngFor="let chainring of bike.chainrings">
        <input type="number"
               [(ngModel)]="chainring.teeth"
               placeholder="number of teeth"
               [ngModelOptions]="{standalone: true}"
        />
      </div>
      <button (ng-click)="add(bike.chainrings, 'chainring')">Add</button>
      <button (ng-click)="removeLast(bike.chainrings)">Remove</button>
    </div>
    <div>
      Cogs:
      <div *ngFor="let cog of bike.cogs">
        <input type="number"
               [(ngModel)]="cog.teeth"
               placeholder="number of teeth"
               [ngModelOptions]="{standalone: true}"
        />
      </div>
      <button (ng-click)="add(bike.cogs, 'chainring')">Add</button>
      <button (ng-click)="removeLast(bike.cogs)">Remove</button>
    </div>
    <input type="submit" value="Calculate"/>
  </form>

  <!--<table border="1">-->
  <!--<thead>-->
  <!--<tr>-->
  <!--<th></th>-->
  <!--<th ng-repeat="cog in output.cogs">{{cog.teeth}}</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr ng-repeat="chainring in output.chainrings">-->
  <!--<th>{{chainring.teeth}}</th>-->
  <!--<td ng-repeat="(key, value) in output.gearInches[chainring.teeth]">{{value}}</td>-->
  <!--</tr>-->
  <!--</tbody>-->
  <!--</table>-->

</div>
