<div>

  <form [formGroup]="form" novalidate>
    <div formGroupName="wheel">
      <label>Wheel diameter:</label>
      <input type="number"
             formControlName="diameter"
             step="0.05"
             placeholder="00.00"
      />
    </div>

    <div formArrayName="chainrings">
      Chainrings:
      <div *ngFor="let chainring of form.controls.chainrings.controls; let i=index">
        <div [formGroupName]="i">
          <input type="hidden"
                 formControlName="id"
                 value="{{i}}"
          />
          <input type="number"
                 formControlName="teeth"
                 placeholder="number of teeth"
          />
        </div>
        <button (click)="add('chainrings', i+1)">Add</button>
        <button *ngIf="form.controls.chainrings.controls.length > 1" (click)="remove('chainrings', i)">
          Remove
        </button>
      </div>

    </div>

    <div formArrayName="cogs">
      Cogs:
      <div *ngFor="let cog of form.controls.cogs.controls; let i=index">
        <div [formGroupName]="i">
          <input type="hidden"
                 formControlName="id"
                 value="{{i}}"
          />
          <input type="number"
                 formControlName="teeth"
                 placeholder="number of teeth"
          />
        </div>
        <button (click)="add('cogs', i+1)">Add</button>
        <button *ngIf="form.controls.cogs.controls.length > 1" (click)="remove('cogs', i)">
          Remove
        </button>
      </div>

    </div>
    <button (click)="updateOutput()">Calculate</button>
  </form>

  <table border="1" *ngIf="output != null">
    <thead>
    <tr>
      <th></th>
      <th *ngFor="let key of output.cogs | keys">{{output.cogs[key].teeth}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let chainring of output.chainrings">
      <th>{{chainring.teeth}}</th>
      <td *ngFor="let key of output.gearInchesMap[chainring.id] | keys">
        {{output.gearInchesMap[chainring.id][key]}}
      </td>
    </tr>
    </tbody>
  </table>

</div>
